html {
    margin: 0;
    max-width: auto;
    min-width: auto;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 500;
    background: linear-gradient(90deg, rgba(72,72,176,1) 0%, rgba(0,138,218,1) 100%);
    

    color: white;

    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;

    transition: all 0.15s ease;
}

a:hover {
    color: rgba(255, 255, 255, 0.8);
}

a:focus {
    color: rgba(255, 255, 255, 0.6);
}

li {
    list-style: none;
}

header {
    position: relative;
}

.navbar {
    width: auto;
    height: 10vh;
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    padding: 0;
}

.imgLogo:hover {
    background-color: transparent;
}

.horizontal_spacer {
    margin: 0;
    padding: 0;
    border: none;
    height: 1px;
    background-color: rgb(202, 202, 202);
}


.navbar_hamburger {
    width: 30px;
    height: 30px;
    padding: auto;

    display: none;
}

.navbar_hamburger img {
    height: 100%;
    width: 100%;
}

.navbar_dropdown {
    border-radius: 1rem;
    display: none;
    position: absolute;
    right: 2rem;
    width: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

.navbar_dropdown a {
    display: block;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .navbar .links{
        display: none;
    }

    .navbar_hamburger {
        display: block;
    }


}