.winTeam {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 4vh 20vw;
    height: fit-content;
    gap: 5%;
}

.team_memList {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.team_memList img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 1%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.team_memText {
    align-self: center;
}

.team_memText p {
    font-weight: bold;
    margin: 1%;
}

.team_memText h1 {
    font-weight: bold;
    margin: 1%;
    color: rgba(0, 138, 218, 1);
}

.team_spacer {
    height: 1px;
    width: 60vw;
    background-color: rgb(202, 202, 202);
    border: none;
    margin: 2%;
    align-self: center;
}

.mobile_team_memDesc {
    display: none;
}

@media (max-width: 1000px) {
    .winTeam {
        padding: 4vh 10vw;
    }
}

@media (max-width: 500px) {
    .winTeam {
        padding: 4vh 10vw;
    }

    .team_memList {
        display: none;
    }

    .team_spacer {
        display: none;
    }

    .team_memText {
        text-align: center;
    }

    .mobile_team_memDesc {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .mobile_team_memDesc img {
        width: 40%;
        height: 40%;
        border-radius: 50%;
        align-self: center;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }

    .mobile_team_memName {
        height: 3em;
    }

    .mobile_team_memDesc1 {
        height: 6em;
    }

    .mobile_team_memImg {
        transition: 
    }

    .mobile_team_buttons {
        display: flex;
        justify-content: space-between;
    }

    .mobile_team_buttons a {
        padding: 13px 20px 13px 20px;
        color: white;
        background-color: rgba(0, 138, 218, 1);
        border-color: transparent;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        transition: all 0.15s ease;
    
        font-family: 'Nunito';
        font-size: 15px;
    }
    
    .mobile_team_buttons a:hover {
        background-color: white; 
        color: rgba(0, 138, 218, 1);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    
    .mobile_team_buttons a:active{
        opacity: 0.8;
        transition: 0.15s;
        background-color: rgb(240, 240, 240);
    }
}