.winUsers {
    background-color: white;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    
    padding: 0 10vw;
}

.winUsers h1{
    color: rgba(0, 138, 218, 1);
    font-size: xx-large;
    margin: auto;
}

.winUsers p {
    color: black;
    margin: auto;
}

.users_elList {
    list-style: inside;
    display: flex;
    gap: 5vw;
    padding: 0;
}

.users_elList li {
    margin: 10px;
}

.users_starList {
    display: flex;
    padding: 0;
    margin: 5px 0 0 0;
    gap: 5px;
}

.users_starList li {
    margin: 0;
}

.users_starList img {
    width: 30px;
    height: 30px;
    margin: 0;
}

.users_notice {
    align-self: center;
    text-align-last: right;
    margin: auto 0 auto auto;
}

@media (max-width: 768px) {
    .winUsers {
        padding: 5vw;
        height: fit-content;
        flex-direction: column;
    }

    .winUsers h1 {
        text-align: center;
    }

    .winUsers p {
        text-align: center;
    }

    .users_notice {
        text-align-last: center;
        margin: 10px 0;
    }

    .users_elList {
        flex-direction: column;
        gap: 10px;
        margin: 0
    }

    .users_starList {
        gap: 2px;
        align-self: center;
        justify-content: center;
    }

    .users_starList img {
        align-self: center;
    }
}